.promo__image {
  margin: 0 0 35px;
  padding: 0;
  height: 250px;
  width: 250px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .promo__image {
    height: 300px;
    width: 300px;
  }
}

@media screen and (min-width: 1280px) {
  .promo__image {
    height: 350px;
    width: 350px;
  }
}
