.background__circle_position_bottom-right {
  bottom: 0;
  right: 0;
  transform: translate(50%, 20%);
}

@media screen and (max-height: 600px) {
  .background__circle_position_bottom-right {
    display: none;
  }
}
