.background__circle_position_bottom-left {
  bottom: 0;
  right: 0;
  transform: translate(10%, 60%);
}

@media screen and (max-height: 600px) {
  .background__circle_position_bottom-left {
    display: none;
  }
}
